{% extends 'STORE/store.html' %}
{% block body %}
<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1"><table class="table table-light">
  <tr>
    <th >Product Name</th>
    <td >
      <input type="text" class="form-control" name="textfield" id="textfield" required /></td>
  </tr>

    <tr>
    <th >Category</th>
    <td >

        <select name="catg" class="form-control">
            {% for i in data %}
            <option value="{{ i['category_id'] }}">{{ i['category'] }}</option>

            {% endfor %}
        </select>

    </td>
  </tr>
    <tr>
        <th >Colour</th>
        <td >
          <input type="text" class="form-control" name="color" id="color" required /></td>
      </tr>

  <tr>
    <th >Product Details</th>
    <td >
      <textarea class="form-control" name="textarea" id="textarea" cols="45" rows="5" required></textarea></td>
  </tr>
  <tr>
    <th >Image</th>
    <td >
      <input type="file" class="form-control" name="fileField" id="fileField" required/></td>
  </tr>

  <tr>
    <th >Price</th>
    <td >
      <input type="text" class="form-control" name="price" id="textfield3" required  /></td>
  </tr>
  <tr>
    <th>Quantity</th>
    <td>
      <input type="text" class="form-control" name="textfiel" id="textfield4" required/></td>
  </tr>

    <tr>
      <th align="center"  colspan="2" ><input align="center" type="submit" name="button" id="button" value="Add" class="btn btn-success" /></th>
    </tr>
</table>

</form>
</body>

{% endblock %}
