{% extends 'STORE/store.html' %}
{% block body %}
<body><form action="" method="post" enctype="multipart/form-data"><table class="table table-light">
  <tr>
    <th scope="row">OLD password</th>
    <td>

      <input type="password" class="form-control" name="textfield" id="textfield4" required/>
    </td>
  </tr>

     <tr>
    <th scope="row">NEW password</th>
    <td>

      <input class="form-control" type="password" name="textfield2" id="textfield4" required/>
    </td>
  </tr>
     <tr>
    <th scope="row"> CONFIRM password</th>
    <td>

      <input class="form-control" type="password" name="textfield4" id="textfield4" required/>
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="change" class="btn btn-success" /></th>
    </tr>
</table>
</form>
</body>
{% endblock %}
