{% extends 'ADMIN/admin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action=""><table class="table table-light">
  <tr  bgcolor=#CCCCFF>
    <th scope="col">#</th>
    <th scope="col"> Customer name</th>
    <th scope="col">Address</th>

    <th  scope="col">Image</th>
    <th  scope="col">Phone</th>
    <th  scope="col">Mail_id</th>

  </tr>
    {% for i in store %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>&nbsp;{{ i['uname'] }}</td>
    <td>&nbsp;{{ i['place'] }}<br>{{ i['post'] }}<br>{{ i['district'] }}<br>{{ i['pin'] }}</td>


    <td>&nbsp;<img class="img-circle" src="{{ i['photo'] }}" alt="image" height="100" width="100"></td>
    <td >&nbsp;{{ i['phone_number'] }}</td>
    <td>&nbsp;{{ i['email'] }}</td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
{% endblock %}