{% extends 'ADMIN/admin.html' %}
{% block body %}
<body>
<form action="" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div align="center">
  <p>SEND REPLY</p>
  <table class="table table-light" style="width: 500px;" align="center">
    <tr>
      <th> Reply</th>
      <td ><label for="textfield"></label>
          <textarea row="5" cols="45" class="form-control col-sm-6" name="textfield" id="textfield" required ></textarea></td>
      </tr>


    <tr>
      <td align="center"  colspan="2" ><input align="center" type="submit" name="button" id="button" value="SEND" class="form-control col-sm-2 btn btn-primary" /></td>
      </tr>
  </table>  </div>

</form>
</body>

{% endblock %}
