{% extends 'ADMIN/admin.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-light">
    <tr  bgcolor=#CCCCFF>
      <th  scope="col">#</th>
      <th scope="col">User name</th>
      <th  scope="col">Date</th>
      <th  scope="col">Complaint</th>
      <th  scope="col">Reply</th>

    </tr>
      {% for i in data %}
    <tr>
      <td>{{ loop.index }}&nbsp;</td>
      <td >&nbsp;{{ i['user_name'] }}</td>
      <td >{{ i['date'] }}</td>
      <td >{{ i['complaint'] }}</td>
      <td >
        {% if i['reply'] == 'pending' %}
          <a href="/send_reply/{{ i['complaint_id'] }}" class="btn btn-info">Reply</a>
      {% else %}
          Reply  :  {{ i['reply'] }}<br>
          Reply Date  :  {{ i['reply_date'] }}
          {% endif %}
      </td>

     </tr>
      {% endfor %}
  </table>
</form>
</body>
{% endblock %}
